.service-hero {
  width: 100%;
  background: url(/img/services-banner.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  color: white;
  text-align: center;
}
.service-hero h1 {
  font-size: 54px;
  font-weight: 750;
  line-height: 140%;
  font-family: Garnett;
}
.service-avigation {
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 9999;
}
.service-avigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 30px;
}

.service-avigation .container ul {
  display: flex;
  gap: 50px;
}

.service-avigation .container ul li.active {
  border-bottom: 2px solid #000;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
  padding-top: 150px;
}

.extra-offer {
  border-left: 1px solid #000;
  padding-left: 100px;
  font-size: 20px;
  font-weight: 600;
}
.extra-offer h3 {
  font-size: 38px;
  font-weight: 400;
}

@media only screen and (max-width: 800px) {
  .service-avigation .container {
    flex-direction: column;
  }
  .service-avigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    font-size: 18px;
  }

  .service-avigation .container ul {
    display: flex;
    gap: 5px;
  }

  .extra-offer {
    border-left: 1px solid #000;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  .extra-offer h3 {
    font-size: 14px;
    font-weight: 400;
  }
  #section1,
  #section2,
  #section3,
  #section4,
  #section5 {
    padding-top: 50px;
  }
}
