.contact-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact-page h1 {
  font-size: 50px;
}
.contact-page form {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-page form input {
  min-width: 300px;
  margin: 5px;
  padding: 5px 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}
.contact-page form textarea {
  min-width: 300px;
  margin: 5px;
  padding: 5px 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}
.contact-page form button {
  padding: 5px 10px;
  background-color: #4a686a;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
}

.contact-page .error {
  color: red;
  font-size: 14px;
}
